<div class="dummy-header"></div>
<div class="container">
  <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <a class="navbar-brand" href="#">AB Test</a>

    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Typography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forms">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modal">Modal</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <router-outlet></router-outlet>
</div>
